/* ---------- 浅色模式 ---------- */
/* 普通链接 */
.vp-doc a {
  text-decoration: none;
  color: #ff6f61; /* 主体粉橙 */
  transition: color 0.2s ease, border-color 0.2s ease;
}

.vp-doc a:hover {
  color: #ff9980; /* 悬停时亮粉橙 */
}

/* 链接中的 code */
.vp-doc a > code {
  text-decoration: none;
  color: #ff7247; /* 鲜艳橙红文字 */
  background-color: transparent; /* 透明背景 */
  border: 2px solid #ff8a65; /* 边框粉橙 */
  border-radius: 10px;
  padding: 0.15em 0.3em;
  font-family: PingFang Rounded;
  font-weight: bold;
  font-size: 12px;
  transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}

.vp-doc a:hover > code {
  color: #fff;
  background-color: #ff8a65; /* 悬停时显示背景色 */
  border-color: #ff8a65;
}

/* 普通 code（非链接中的） */
.vp-doc :not(pre) > code {
  border-radius: 10px;
  padding: 2px 4px;
  background-color: transparent; /* 透明背景 */
  color: #ff7247; /* 深橙红字 */
  border: 2px solid #ff8a65; /* 添加边框 */
  font-family: PingFang Rounded;
  font-weight: bold;
  font-size: 12px;
  transition: color 0.25s, background-color 0.25s, border-color 0.25s;
}

.dark .vp-doc :not(pre) > code {
  border: 2px solid #ff8a65 !important; /* 添加边框 */
}

.vp-doc :not(pre) > code:hover {
  background-color: #ff8a65; /* 悬停时显示背景色 */
  color: #fff;
  border-color: #ff8a65;
}

.dark .vp-doc :not(pre) > code:hover {
  background-color: #ff8a65 !important; /* 悬停时显示背景色 */
}

/* ---------- 暗黑模式 ---------- */
.dark .vp-doc a {
  color: #ff8a65; /* 明亮粉橙 */
}

.dark .vp-doc a:hover {
  color: #ffb199; /* 悬停亮粉橙 */
}

.dark .vp-doc a > code {
  color: #ffab91; /* 橙红文字 */
  background-color: transparent; /* 透明背景 */
  border: 1px solid #ff7043; /* 边框橙色 */
}

.dark .vp-doc a:hover > code {
  color: #fff;
  background-color: #ff7043; /* 悬停时显示背景色 */
  border-color: #ff7043;
}

.dark .vp-doc :not(pre) > code {
  background-color: transparent; /* 透明背景 */
  color: #ff8a65; /* 浅亮粉橙文字 */
  border: 1px solid #ff7043; /* 添加边框 */
}

.dark .vp-doc :not(pre) > code:hover {
  background-color: #ff7043; /* 悬停时显示背景色 */
  color: #fff;
  border-color: #ff7043;
}

/* .vitepress/theme/style/var.css */

/* VPFeatures 页卡悬浮效果 */
.VPFeatures .items .item {
  transition: transform 0.3s;
}

.VPFeatures .items .item:hover {
  transform: translateY(-5px);
}
:root {
  --vp-c-brand-3: #4c8dff; /* 明亮的天空蓝 */
  --vp-c-brand-2: #2979ff; /* 鲜艳的亮蓝（主色调） */
  --vp-c-brand-1: #1c4fd6; /* 深蓝偏电光，压住层次 */
}

.dark {
  --vp-c-brand-1: #4c8dff; /* 明亮的天空蓝 */
  --vp-c-brand-2: #2979ff; /* 鲜艳的亮蓝（主色调） */
  --vp-c-brand-3: #1c4fd6; /* 深蓝偏电光，压住层次 */
}

:root {
  animation: rainbow 12s linear infinite;
}
/* 历史记录容器背景色 */
.vp-nolebase-git-changelog-history-container {
  background-color: rgba(142, 150, 170, 0.14) !important; /* 半透明灰蓝色 */
}